$default-font-size: 2rem;

// Colors

$color-bg-primary: #C8DEBB;
$color-bg-primary-light: #e9ffdd;
$color-bg-secondary: #587447;
$color-bg-secondary-light: #70905c;

$burger-menu: #1b2f07;

$active-burger: #dff1dd;

$color-text: #707070;

$color-text-hover: #464545;

$link-color: #639DED;