$default-font-size: 2rem;

// Colors

$color-bg-primary: #C8DEBB;
$color-bg-secondary: #587447;

$color-main: #fae6e5;

$color-button: #faaeaa;
$color-button-hover: #f19996;

$color-text: #707070;

$color-text-hover: #464545;

$link-color: #639DED;