.find {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  margin-top: 6rem;
    .map {
      h3 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }
      figure {
        position: relative;

        iframe {
          max-width: 60rem;
          min-width: 27rem;
          width: 90vw;
          border: .2rem solid $color-bg-primary;
          border-radius: 1rem;
        }
        figcaption {
          text-align: left;
        }
      }
    }
}