.home {
  z-index: 2;
  margin-bottom: -20rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    & img {
      border-radius: 1rem;
    }
  }

  &__info {
    margin-top: 6rem;
    overflow: wrap;
    max-width: 80vw;
    
    & p {
      margin-bottom: 5rem;
    }

    & a {
      color: $color-bg-secondary;
    }
  }
}