.contact {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  max-width: 60rem;
  min-width: 27rem;
  width: 80vw;

  .horizontal-line {
    align-self: center;
    width: 25vw;
    height: .3rem;
    border: none;
    border-radius: 5rem;
    background-color: $color-bg-primary;
  }

  .numbers-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
  }

  a {
    text-decoration: none;
    color: $link-color;
  }

  img {
    max-width: 60rem;
    min-width: 27rem;
    width: 80vw;
    height: auto;
  }
}