.nav-bar {
  margin-bottom: 5rem;

  & ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: 2rem;
  }

  &__link {
    text-decoration: none;
    color: #707070;
    text-transform: uppercase;

    &--active {
      text-decoration: underline;
      color: #587447;
    }

    &:hover {
      color: #587447;
    }
  }
}