body {
  font-display: swap;
  font-family: 'Lato', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  // font-size: 65.2%;
  color: $color-text;
}


h1 {
  font-family: 'Tangerine', serif;
  font-size: 8.5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

h3 {
  font-weight: 400;
}

p {
  font-size: 2rem;
  font-weight: 400;
}

.sub-header {
  text-transform: uppercase;
}

figcaption {
  font-size: 1.6rem;
  font-weight: 200;
}