*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* Set border box to be inherited */
}

html {
  font-size: 62.5%;
  /* allows user to zom in on page (change font size) px won't work*/
}
@media only screen and (min-width: 187.5em) {
  html {
    font-size: 112.5%;
  }
}
@media only screen and (max-width: 187.5em) {
  html {
    font-size: 100%;
  }
}
@media only screen and (max-width: 162.5em) {
  html {
    font-size: 87.5%;
  }
}
@media only screen and (max-width: 125em) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  background: linear-gradient(#C8DEBB, #587447);
}

.wrapper {
  overflow-x: hidden;
  width: 100vw;
  max-width: 90rem;
  min-width: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4F5F7;
  text-align: center;
}

.deco-leaf {
  position: relative;
}
.deco-leaf--top {
  align-self: flex-end;
  top: 0;
}
.deco-leaf--bottom {
  align-self: flex-start;
  bottom: 0;
}

.header {
  margin-top: -20rem;
  z-index: 2;
}
.header__timer {
  margin-top: 3rem;
}
.header__date {
  font-size: 1.4rem;
  margin-top: 0.7rem;
  margin-bottom: 5rem;
}

img {
  border-radius: 1rem;
}

body {
  font-display: swap;
  font-family: "Lato", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #707070;
}

h1 {
  font-family: "Tangerine", serif;
  font-size: 8.5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

h3 {
  font-weight: 400;
}

p {
  font-size: 2rem;
  font-weight: 300;
}

.sub-header {
  text-transform: uppercase;
}

figcaption {
  font-size: 1.6rem;
  font-weight: 200;
}

.find {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  margin-top: 6rem;
}
.find .map h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.find .map figure {
  position: relative;
}
.find .map figure iframe {
  max-width: 60rem;
  min-width: 27rem;
  width: 90vw;
  border: 0.2rem solid #C8DEBB;
  border-radius: 1rem;
}
.find .map figure figcaption {
  text-align: left;
}

.home {
  z-index: 2;
  margin-bottom: -20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__info {
  margin-top: 6rem;
  overflow: wrap;
  max-width: 80vw;
}
.home__info p {
  margin-bottom: 5rem;
}
.home__info a {
  color: #587447;
}

.contact {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  max-width: 60rem;
  min-width: 27rem;
  width: 80vw;
}
.contact .horizontal-line {
  align-self: center;
  width: 25vw;
  height: 0.3rem;
  border: none;
  border-radius: 5rem;
  background-color: #C8DEBB;
}
.contact .numbers-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}
.contact a {
  text-decoration: none;
  color: #639DED;
}
.contact img {
  max-width: 60rem;
  min-width: 27rem;
  width: 80vw;
  height: auto;
}

.logi {
  margin-top: 6rem;
}
.logi__section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
  max-width: 60rem;
  min-width: 27rem;
  width: 80vw;
}
.logi__section a {
  text-decoration: none;
  color: #639DED;
}
.logi__discount-code {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.logi__discount-code--text {
  font-size: 2.2rem;
  font-weight: 600;
}
.logi__discount-code--code {
  font-size: 3.2rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
}

nav {
  margin-top: 5rem;
}

.nav-bar {
  margin-bottom: 5rem;
}
.nav-bar ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  font-size: 2rem;
  font-weight: 400;
}
.nav-bar__link {
  text-decoration: none;
  color: #707070;
  text-transform: uppercase;
}
.nav-bar__link:hover {
  color: #70905c;
}
.nav-bar .active {
  text-decoration: underline;
  color: #587447;
}
.nav-bar .active:hover {
  color: #70905c;
}

.wishlist {
  margin-top: 6rem;
}
.wishlist__section {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.wishlist__section .no-height {
  line-height: 0.2;
}
.wishlist__section--small-text {
  margin-top: 0rem;
  font-size: 0.7rem;
}
.wishlist__section figure img {
  max-width: 70rem;
  min-width: 27rem;
  width: 90vw;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
